@import './base.css';

#app {
  overflow-x: hidden;
  max-width: 100vw;
  width: 100%;
  height: 100vh;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(0, 0%, 55%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

table {
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}

.is-valid {
  border: 3px solid green;
}

.is-invalid {
  border: 3px solid red;
}

.status-cell {
  display: flex;
  height: 100%;
  align-items: center;
}

td {
  vertical-align: middle;
}

.open-issue-indicator {
  border-radius: 50%;
  background-color: #07f;
  height: 1.5rem;
  width: 1.5rem;
}
.pending-issue-indicator {
  border-radius: 50%;
  background-color: rgb(255, 208, 0);
  height: 1.5rem;
  width: 1.5rem;
}
.closed-issue-indicator {
  border-radius: 50%;
  background-color: rgb(33, 155, 60);
  height: 1.5rem;
  width: 1.5rem;
}

.open-issue {
  background-color: #07f;
}
.pending-issue {
  background-color: rgb(255, 208, 0);
}
.closed-issue {
  background-color: rgb(33, 155, 60);
}
